.news_genres {
    width: 100%;
    height : 10%;
    margin-top : 2%;
    text-align: center;
    margin-bottom : 2%;
}

.genres_link {
    text-decoration-line: none;
    color: inherit;
    margin-left : 5%;
}

#sidebar {
  clear : both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 14%;
  overflow: auto;
  border-bottom: solid 3px
}

.main_link {
text-decoration-line: none;
color: inherit;
}




/* 뉴스 style */

.rows-container, .table-container table {
    width: 100%; /* 컨테이너 너비에 맞춤 */
}

.rows-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-bottom: 10px; /* 여백 추가 */
}

.per-page-form, .search-container {
    margin-left: 10px; /* 항목 사이의 간격 */
}


.table-container {
    margin-top : 2%;
}


.table-container {
    max-width: 1500px;
    margin: 0 auto; /* 중앙 정렬 */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: 8px;
    text-align: center;
}

.link-image {
    width: 24px; /* 원래 이미지 크기 */
    height: 24px;
    transition: transform 0.3s ease; /* 부드러운 변화를 위한 transition 설정 */
}
.link-image:hover {
    transform: scale(1.1); /* 이미지 크기를 10% 증가 */
}

.news-image {
    width: 100px;
    height : 50px;
    transition: all 0.2s linear;
}

.news-image:hover {
  transform: scale(5);
}